<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://60.12.207.45:3004/Coco5.3_367ld.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://idealee.github.io/plist/coco_icon.png</string>
               </dict>
           <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://idealee.github.io/plist/coco_icon.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.365rili.Coco5.3</string>
               <key>bundle-version</key>
               <string>5.3</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>DB</string>
               <key>title</key>
               <string>365日历</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
